<div class="game-field-wrapper" ng-init='newGameLink = "#!/new?size={{$ctrl.size}}"'>
    <span class="animate-spin" ng-if="!$ctrl.gridLoaded">
        <i class="fa fa-spinner"></i>
    </span>
    <div class="game-field m-b" ng-model="$ctrl.grid">
        <div class="row" ng-repeat="row in $ctrl.grid.cells">
            <field-cell ng-repeat="item in row track by $index" body="item" x="$index" y="$parent.$index" on-move="$ctrl.handleMove(pos)"></field-cell>
        </div>
    </div>
    <a href="{{newGameLink}}" class="btn btn-blue">
        Reset game<i class="fa fa-reply"></i>
    </a>
    <div ng-if='$ctrl.gameEnded' class="game-end">
        <h1>GAME IS OVER NOW</h1>
        <p class="p game-end--message">
            You {{$ctrl.gameStatus}}!
        </p>
        <a href="{{newGameLink}}" class="btn btn-blue">
            Play again <i class="fa fa-reply"></i>
        </a>
    </div>
</div>
