<div class="game-field-wrapper" ng-init='newGameLink = "#!/new?size=" + $ctrl.size' >
    <span class="animate-spin" ng-if="!$ctrl.gridLoaded">
        <i class="fa fa-spinner"></i>
    </span>

    <div class="row-flex">
        <div class="col text-right">
            <game-info game-ended="$ctrl.gameEnded" game-status="$ctrl.gameStatus" player-move="$ctrl.playerMove" player-sign="$ctrl.signs.player.body" enemy-sign="$ctrl.signs.enemy.body"></game-info>
        </div>
        <div class="col">
            <div class="game-field m-b">
                <div class="row" ng-repeat="row in $ctrl.grid.cells">
                    <field-cell
                        ng-repeat="item in row track by $index"
                        sign="item"
                        on-move="$ctrl.handleMove(pos)">
                    </field-cell>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="game-actions text-left">
                <div>
                    <button class="btn btn-blue" ng-click="$ctrl.restartGame()">
                        restart
                    </button>
                </div>
                <div>
                    <a href="{{newGameLink}}" class="btn btn-blue">
                        Change grid size <i class="fa fa-reply"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
