@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* temp */
.fa-times:before {
    content:'x';
}

.fa-circle-o:before {
    content:'0';
}

[disabled] {
    background: #ccc!important;
    color: #eee!important;
    pointer-events: none!important;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:focus {
    outline: 0!important;
}

.animate-spin {
    -webkit-animation:spin infinite 0.3s;
    -o-animation:spin infinite 0.3s;
    animation:spin infinite 0.3s;
}

body {
    font-family: 'Roboto';
}

main {
    text-align: center;
}

main > .container {
    margin: 0 auto;
    max-width: 700px;
}

.game-field {
    position: relative;
}
.game-field .row {
    white-space: nowrap;
    font-size: 0;
}

.field-size-input {
    width: 70px;
    height: 34px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

.field--cell {
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.4);
    overflow: hidden;
}
.field--cell .fa-times {
    color: #f00;
}
.field--cell .fa-circle-o {
    color: #38c119;
}

.field--cell.highlighted {
    outline: 5px solid #fc0;
}

.btn {
    font-family: 'Roboto';
    display: inline-block;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #222;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.4);
    background: #ddd;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 34px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
}

.btn:active {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
}

.btn.btn-red {
    color: #fff;
    background: #ff5653;
}

.btn.btn-blue {
    color: #fff;
    background: #4fc8ff;
}

.game-end {
    position: absolute;
    background: rgba(255,255,255,0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.m-b {
    margin-bottom: 15px;
}

input.ng-invalid {
    border-color: #f00;
}

.row-flex {
    display: flex;
}

.row-flex .col {
    width: 100%;
}


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
